@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
}

.section-padding {
  padding: 5rem 1rem;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 6rem 2rem;
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 8rem 4rem;
  }
}

.text-shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
